<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components.</p>
      </ion-card-content>
    </ion-card>  
</ion-content> -->

<app-header></app-header>

<ion-content padding>
    <ion-card class="welcome-card" *ngIf="menuID==0">
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Welcome to Ionic</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Now that your app has been created, you'll want to start building out features and components.</p>
        </ion-card-content>
      </ion-card> 

    <app-menu-one *ngIf="menuID==1"></app-menu-one>
    <app-menu-two *ngIf="menuID==2"></app-menu-two>
    <app-menu-three *ngIf="menuID==3"></app-menu-three>
    <app-menu-four *ngIf="menuID==4"></app-menu-four>

</ion-content>


<app-footer></app-footer>


